Android/Samples/extended/HelloImageRecognition/libs/armeabi/libExtensionVuforia.so
Android/Samples/extended/HelloImageRecognition/libs/wikitudesdk.jar
Android/Samples/extended/HelloImageRecognition/libs/armeabi/libQCAR.so
Android/Samples/extended/HelloImageRecognition/libs/QCAR.jar
