
* {
    margin: 0;
}
html, body {
    height: 100%;
}


/* CSS Style for status message at the top of the HUD */
.status {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    text-align: center;
    padding: 10px;
    position:absolute;
    width: 100%;
    font-size: 30px;
}

/* new in this sample: CSS definition for POI detail BOX */
#poiDetail {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 100%;
    position:fixed;
    bottom:0px;
}

#poiTitle {
    color: black;
    text-align: center;
    font-size: 35px;
}

#poiDescription {
    color: black;
    text-align: center;
    font-size: 25px;
}